external/modules/trinidad/2.0.2-glassfish-1/trinidad-impl/src/main/resources/META-INF/FacesMetadata.dtd

<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
	   
-->
<!ELEMENT componentMetadata ANY>
<!ATTLIST componentMetadata
	component-type CDATA #IMPLIED>
<!ELEMENT facetMetadata ANY>
<!ELEMENT attributeMetadata ANY>
<!ELEMENT propertyMetadata ANY>
<!ELEMENT acceptsChildComponents (#PCDATA)>
<!ELEMENT attributeValueProvider (#PCDATA)>
<!ELEMENT baseComponentType  (#PCDATA)>
<!ELEMENT deprecated  (#PCDATA)>
<!ELEMENT displayOrder  (#PCDATA)>
<!ELEMENT expert  (#PCDATA)>
<!ELEMENT favoriteProperty  (#PCDATA)>
<!ELEMENT group  (#PCDATA)>
<!ELEMENT helpTopic  (#PCDATA)>
<!ELEMENT hidden  (#PCDATA)>
<!ELEMENT initialValue  (#PCDATA)>
<!ELEMENT longDisplayName  (#PCDATA)>
<!ELEMENT mediumDisplayName  (#PCDATA)>
<!ELEMENT palettePageKey  (#PCDATA)>
<!ELEMENT preferred  (#PCDATA)>
<!ELEMENT preferredChildren  (#PCDATA)>
<!ELEMENT propertyEditor  (#PCDATA)>
<!ELEMENT shortDescription  (#PCDATA)>
<!ELEMENT shortDisplayName  (#PCDATA)>
<!ELEMENT textDisplayedAsAttribute  (#PCDATA)>
<!ELEMENT textTreatedAsAttribute  (#PCDATA)>
<!ELEMENT translatable  (#PCDATA)>
<!ELEMENT writable  (#PCDATA)>
<!ELEMENT usuallyUnique  (#PCDATA)>
