external/modules/trinidad/2.0.2-glassfish-2/trinidad-api/src/main/resources/trinidad-config.xsd

<?xml version="1.0"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
	   
-->
<schema elementFormDefault="qualified" targetNamespace="http://myfaces.apache.org/trinidad/config"
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:schema="http://www.w3.org/2001/XMLSchema"
  xmlns:html="http://www.w3.org/TR/REC-html40"
  xmlns:config="http://myfaces.apache.org/trinidad/config"
  xmlns:md="http://myfaces.apache.org/trinidad/xml/metadata">
  <annotation>
    <appinfo>
    </appinfo>
  </annotation>
  <element name="trinidad-config">
    <annotation>
      <documentation>
        The trinidad-config element is the root element of all
        trinidad-config.xml files.
      </documentation>
    </annotation>
    
    <complexType>
      <all>
        <element name="page-flow-scope-lifetime" minOccurs="0" maxOccurs="1"
                 type="positiveInteger">
          <annotation>
            <documentation>The &lt;page-flow-scope-lifetime&gt; element
controls the maximum number of pageFlowScope instances that will
be kept active at any one time.  The default is 15.  Unlike other
&lt;trinidad-config&gt; elements, &lt;page-flow-scope-lifetime&gt;
does not support EL expressions - it must be configured statically.
            </documentation>
          </annotation>
        </element>

        <element name="debug-output" minOccurs="0" maxOccurs="1"
                 type="config:booleanExpressionType">
          <annotation>
            <documentation>The &lt;debug-output&gt; element controls whether output is enhanced for debugging.
            </documentation>
          </annotation>
        </element> 

        
        <element name="client-validation" minOccurs="0" maxOccurs="1"
                 type="config:clientValidationExpressionType">
          <annotation>
            <documentation>The &lt;client-validation&gt; element controls how client side validation functions - ALERT (the default) to show Javascript alerts, INLINE (using DHTML to insert messages), or DISABLED (disabling client-side validation).  The requested value may be ignored if not supported on the current platform or renderkit.
            </documentation>
          </annotation>
        </element>
        
        <element name="client-validation-disabled" minOccurs="0" maxOccurs="1"
                 type="config:booleanExpressionType">
          <annotation>
            <documentation>The &lt;client-validation-disabled&gt; element controls whether client side converters and validators are run.  (Deprecated:  use client-validation).
            </documentation>
          </annotation>
        </element>

        <element name="output-mode" minOccurs="0" maxOccurs="1"
                 type="config:outputModeExpressionType">
          <annotation>
            <documentation>The &lt;output-mode&gt; element controls the
output mode used by Apache MyFaces Trinidad.
            </documentation>
          </annotation>
        </element>

        <element name="skin-family" minOccurs="0" maxOccurs="1"
                 type="config:stringExpressionType">
          <annotation>
            <documentation>The &lt;skin-family&gt; element is used to pick a skin during render.
            The skin picking logic looks at the skin-family and finds a skin that matches that
            skin-family. This element is required to get a skin that isn't the simple skin.
            You can optionally add the skin-version to pick a particular version of a skin
            with the same skin-family.
            </documentation>
          </annotation>
        </element>

        <element name="skin-version" minOccurs="0" maxOccurs="1"
                 type="config:stringExpressionType">
          <annotation>
            <documentation>The &lt;skin-version&gt; element is used to pick a skin during render.
            A skin is picked by matching the skin-family (required), and if specified here, the
            skin-version. If you want the skin that is marked default, you set the skin-version to
            "default". If you want a skin with a specific version, then you set the version here. 
            If you don't care about the version, or if your skin does not have a version, you leave
            this blank.
            </documentation>
          </annotation>
        </element>
        
        <element name="accessibility-mode" minOccurs="0" maxOccurs="1"
                 type="config:accessibilityModeExpressionType">
          <annotation>
            <documentation>The &lt;accessibility-mode&gt; element controls the
accessibility mode used by Apache MyFaces Trinidad.
            </documentation>
          </annotation>
        </element>

        <element name="accessibility-profile" minOccurs="0" maxOccurs="1"
                 type="config:accessibilityProfileExpressionType">
          <annotation>
            <documentation>The &lt;accessibility-profile&gt; element controls 
            accessibility profile preferences used by Apache MyFaces Trinidad.
            </documentation>
          </annotation>
        </element>

        <element name="oracle-help-servlet-url" minOccurs="0" maxOccurs="1"
                 type="config:anyURIExpressionType">
          <annotation>
            <documentation>The &lt;oracle-help-servlet-url&gt; element points
to an installation of Oracle Help for the Web (OHW).
            </documentation>
          </annotation>
        </element>

        <element name="time-zone" minOccurs="0" maxOccurs="1"
                 type="config:expressionType">
          <annotation>
            <documentation>The &lt;time-zone&gt; element configures
the time zone used for date processing and output.
            </documentation>
          </annotation>
        </element>
        
        <element name="two-digit-year-start" minOccurs="0" maxOccurs="1"
                 type="config:integerExpressionType">
          <annotation>
            <documentation>The &lt;two-digit-year-start&gt; element sets the 100-year period used by the 
            DateTimeConverter when parsing a string with 2-digit years. The parsed date will be placed in the
           range startDate to startDate + 100 years.  
           For example, when the string is "1/1/11" and the two-digit-year-start is set to 1900, the 
           DateTimeConverter will parse it into the Date equivalent to 1st January 1911. 
           The default value for two-digit-year-start is 1950.  
            </documentation>
          </annotation>
        </element>
        

        <element name="right-to-left" minOccurs="0" maxOccurs="1"
                 type="config:booleanExpressionType">
          <annotation>
            <documentation>The &lt;right-to-left&gt; element can
be used to configure how reading direction is determined.
            </documentation>
          </annotation>
        </element>

        <element name="number-grouping-separator" minOccurs="0" maxOccurs="1"
                 type="config:charExpressionType">
          <annotation>
            <documentation>The &lt;number-grouping-separator&gt; element defines the separator used for groups of numbers.
            </documentation>
          </annotation>
        </element>

        <element name="decimal-separator" minOccurs="0" maxOccurs="1"
                 type="config:charExpressionType">
          <annotation>
            <documentation>The &lt;decimal-separator&gt; element defines the decimal separator.
            </documentation>
          </annotation>
        </element>

        <element name="currency-code" minOccurs="0" maxOccurs="1"
                 type="config:stringExpressionType">
          <annotation>
            <documentation>The &lt;currency-code&gt; element defines the
ISO 4217 currency code used by default for formatting
currency fields when those fields do not specify an explicit
currency field via their converter.
            </documentation>
          </annotation>
        </element>
        <element name="uploaded-file-processor" minOccurs="0" maxOccurs="1"
                 type="string">
          <annotation>
            <documentation>The &lt;uploaded-file-processor&gt; element
should be the name of a class that implements the UploadedFileProcessor
API.  The class must have a no-arg constructor.
            </documentation>
          </annotation>
        </element>

        <element name="uploaded-file-max-memory" minOccurs="0" maxOccurs="1"
                 type="config:longExpressionType">
          <annotation>
            <documentation>The &lt;uploaded-file-max-memory&gt; element
should be a string expression for the maximum amount, in bytes, of the incoming
file that will be stored in memory. Once these limits have been exceeded, disk 
space will be used.
            </documentation>
          </annotation>
        </element>

        <element name="uploaded-file-max-disk-space" minOccurs="0" maxOccurs="1"
                 type="config:longExpressionType">
          <annotation>
            <documentation>The &lt;uploaded-file-max-disk-space&gt; element
should be a string expression for the maximum amount of disk space, in bytes,
allowed for a single file.  If this is exceeded, an EOFException will be thrown.
            </documentation>
          </annotation>
        </element>

        <element name="uploaded-file-temp-dir" minOccurs="0" maxOccurs="1"
                 type="config:stringExpressionType">
          <annotation>
            <documentation>The &lt;uploaded-file-temp-dir&gt; element
should be a string expression for the path to the temporary directory 
to use.  If not specified, files will be stored in the temporary 
directory used by java.io.File.createTempFile()
            </documentation>
          </annotation>
        </element>

        <element name="formatting-locale" minOccurs="0" maxOccurs="1"
                 type="config:stringExpressionType">
          <annotation>
            <documentation>The &lt;formatting-locale&gt; element can be used to
override the locale that converters use for date time, number and currency.
            </documentation>
          </annotation>
        </element>

        <element name="animation-enabled" minOccurs="0" maxOccurs="1"
                 type="config:booleanExpressionType">
          <annotation>
            <documentation>The &lt;animation-enabled&gt; is a system wide setting to turn animation on or off.
            </documentation>
          </annotation>
        </element> 

      </all>
    </complexType>
  </element>



  <simpleType name="expressionType">
    <restriction base="string" >
      <pattern value="\#\{.+\}" />
    </restriction>
  </simpleType>

  <simpleType name="char">
    <restriction base="string">
      <length value="1"/>
    </restriction>
  </simpleType>

  <!-- The Global type definition for positive integers ( and zero )-->
  <simpleType name="outputModeType">
    <restriction base="string">
      <enumeration value="default"/>
      <enumeration value="printable"/>
      <enumeration value="email"/>
    </restriction>
  </simpleType>

  <simpleType name="accessibilityModeType">
    <restriction base="string">
      <enumeration value="default"/>
      <enumeration value="inaccessible"/>
      <enumeration value="screenReader"/>
    </restriction>
  </simpleType>

  <simpleType name="accessibilityProfileType">
    <restriction base="string">
      <enumeration value="high-contrast"/>
      <enumeration value="large-fonts"/>
    </restriction>
  </simpleType>

  <simpleType name="accessibilityProfileListType">
    <list itemType="config:accessibilityProfileType"/>
  </simpleType>

  <simpleType name="clientValidationType">
    <restriction base="string">
      <enumeration value="ALERT"/>
      <enumeration value="INLINE"/>
      <enumeration value="DISABLED"/>
    </restriction>
  </simpleType>

  <simpleType name="stringExpressionType">
    <union memberTypes="string config:expressionType" />
  </simpleType>

  <simpleType name="longExpressionType">
    <union memberTypes="long config:expressionType" />
  </simpleType>

  <simpleType name="integerExpressionType">
    <union memberTypes="integer config:expressionType" />
  </simpleType>

  <simpleType name="booleanExpressionType">
    <union memberTypes="boolean config:expressionType" />
  </simpleType>

  <simpleType name="charExpressionType">
    <union memberTypes="config:char config:expressionType" />
  </simpleType>

  <simpleType name="outputModeExpressionType">
    <union memberTypes="config:outputModeType config:expressionType" />
  </simpleType>

  <simpleType name="accessibilityModeExpressionType">
    <union memberTypes="config:accessibilityModeType config:expressionType" />
  </simpleType>

  <simpleType name="accessibilityProfileExpressionType">
    <union memberTypes="config:accessibilityProfileListType config:expressionType" />
  </simpleType>

  <simpleType name="clientValidationExpressionType">
    <union memberTypes="config:clientValidationType config:expressionType" />
  </simpleType>

  <simpleType name="anyURIExpressionType">
    <union memberTypes="anyURI config:expressionType" />
  </simpleType>

<!-- Expression union types for all primitive schema types. -->
</schema>
