external/modules/trinidad/2.0.2-glassfish-1/trinidad-impl/src/main/java/org/apache/myfaces/trinidadinternal/ui/html/schemas/html.xsd

<?xml version="1.0" encoding="windows-1252"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
	   
-->
<schema elementFormDefault="qualified"
        targetNamespace="http://www.w3.org/TR/REC-html40"
        xmlns:html="http://www.w3.org/TR/REC-html40"
        xmlns:ui="http://myfaces.apache.org/uix/ui"
        xmlns:md="http://myfaces.apache.org/trinidad/xml/metadata"
        xmlns="http://www.w3.org/2001/XMLSchema">

  <annotation>
    <appinfo>
      <md:grammarMetadata>
        <md:displayNameKey>DISPLAY_NAME</md:displayNameKey>
        <md:preferredPrefix>html</md:preferredPrefix>
      </md:grammarMetadata>
    </appinfo>
  </annotation>

  <import namespace="http://myfaces.apache.org/uix/ui" schemaLocation="ui.xsd"/>

  <element name="a" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:focus"/>
          <attribute name="charset" type="string"/>
          <attribute name="type" type="string"/>
          <attribute name="name" type="string"/>
          <attribute name="href" type="anyURI"/>
          <attribute name="hreflang" type="string"/>
          <attribute name="rel" type="string"/>
          <attribute name="rev" type="string"/>
          <attribute name="shape" type="string"/>
          <attribute name="coords" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="abbr" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="acronym" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="address" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="applet" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:coreattrs"/>
          <attribute name="codebase" type="anyURI"/>
          <attribute name="archive" type="string"/>
          <attribute name="code" type="string"/>
          <attribute name="object" type="string"/>
          <attribute name="alt" type="string"/>
          <attribute name="name" type="string"/>
          <attribute name="width" type="string" use="required"/>
          <attribute name="height" type="string" use="required"/>
          <attribute name="align" type="string"/>
          <attribute name="hspace" type="string"/>
          <attribute name="vspace" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="area" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:focus"/>
          <attribute name="shape" type="string"/>
          <attribute name="coords" type="string"/>
          <attribute name="href" type="anyURI"/>
          <attribute name="nohref" type="string"/>
          <attribute name="alt" type="string" use="required"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="b" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="basefont" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attribute name="id" type="ID"/>
          <attribute name="size" type="string" use="required"/>
          <attribute name="color" type="string"/>
          <attribute name="face" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="bdo" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:coreattrs"/>
          <attribute name="lang" type="string"/>
          <attribute name="dir" type="string" use="required"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="blockquote" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="cite" type="anyURI"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="body" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="onload" type="string"/>
          <attribute name="onunload" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="br" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:coreattrs"/>
          <attribute name="clear" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="big" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="button" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:focus"/>
          <attribute name="value" type="string"/>
          <attribute name="type" type="string" default="submit"/>
          <attribute name="disabled" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="caption" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="center" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="cite" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="align" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="code" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="col" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:cellhalign"/>
          <attributeGroup ref="html:cellvalign"/>
          <attribute name="span" type="positiveInteger"/>
          <attribute name="width" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="colgroup" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <sequence>
            <element ref="html:col" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:cellhalign"/>
          <attributeGroup ref="html:cellvalign"/>
          <attribute name="span" type="positiveInteger"/>
          <attribute name="width" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="dd" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="del" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="cite" type="anyURI"/>
          <attribute name="datetime" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="dfn" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="dir" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="compact" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="div" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="dl" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="dt" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="em" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="fieldset" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="font" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:coreattrs"/>
          <attributeGroup ref="html:i18n"/>
          <attribute name="size" type="string"/>
          <attribute name="color" type="string"/>
          <attribute name="face" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="form" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="action" type="anyURI"
                     use="required"/>
          <attribute name="method" type="string" default="GET"/>
          <attribute name="enctype" type="string"/>
          <attribute name="accept" type="string"/>
          <attribute name="name" type="string"/>
          <attribute name="onsubmit" type="string"/>
          <attribute name="onreset" type="string"/>
          <attribute name="accept-charset" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="frame" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:coreattrs"/>
          <attribute name="longdesc" type="anyURI"/>
          <attribute name="name" type="string"/>
          <attribute name="src" type="anyURI"/>
          <attribute name="frameborder" type="unsignedInt" default="1"/>
          <attribute name="marginwidth" type="string"/>
          <attribute name="marginheight" type="string"/>
          <attribute name="noresize" type="string"/>
          <attribute name="scrolling" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="frameset" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <choice minOccurs="0" maxOccurs="unbounded">
            <element ref="html:frame" />
            <element ref="html:frameset" />
            <element ref="html:noframes" />
          </choice>
          <attributeGroup ref="html:coreattrs"/>
          <attribute name="rows" type="string"/>
          <attribute name="cols" type="string"/>
          <attribute name="onload" type="string" />
          <attribute name="onunload" type="string" />
        </extension>
      </complexContent>
    </complexType>
  </element>

   <element name="base" substitutionGroup="ui:uinode">
      <complexType>
        <complexContent>
          <extension base="ui:uinodeType">
            <attribute name="href" type="string" />
            <attribute name="target" type="string" />
          </extension>
        </complexContent>
      </complexType>
  </element>


  <element name="h1" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="h2" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="h3" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="h4" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="h5" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="h6" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="head" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <choice minOccurs="0" maxOccurs="unbounded">
            <element ref="html:script" />
            <element ref="html:style" />
            <element ref="html:meta" />
            <element ref="html:link" />
            <element ref="html:object" />
            <element ref="html:base" />
            <element ref="html:title" />
          </choice>
          <attributeGroup ref="html:i18n"/>
          <attribute name="profile" type="anyURI"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="html" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <sequence>
            <element ref="html:head" minOccurs="0" maxOccurs="1"/>
            <element ref="html:body" minOccurs="0" maxOccurs="1"/>
            <element ref="html:frameset" minOccurs="0" maxOccurs="1"/>
          </sequence>
          <attributeGroup ref="html:i18n"/>
        </extension>
      </complexContent>
    </complexType>
  </element>



  <element name="hr" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="align" type="string"/>
          <attribute name="noshade" type="string"/>
          <attribute name="size" type="string"/>
          <attribute name="width" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="i" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="iframe" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:coreattrs"/>
          <attribute name="longdesc" type="anyURI"/>
          <attribute name="name" type="string"/>
          <attribute name="src" type="anyURI"/>
          <attribute name="frameborder" type="unsignedInt" default="1"/>
          <attribute name="marginwidth" type="string"/>
          <attribute name="marginheight" type="string"/>
          <attribute name="scrolling" type="string"/>
          <attribute name="align" type="string"/>
          <attribute name="height" type="string"/>
          <attribute name="width" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="img" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="src" type="anyURI" use="required"/>
          <attribute name="alt" type="string" use="required"/>
          <attribute name="longdesc" type="anyURI"/>
          <attribute name="name" type="string"/>
          <attribute name="height" type="string"/>
          <attribute name="width" type="string"/>
          <attribute name="usemap" type="string"/>
          <attribute name="ismap" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="input" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:focus"/>
          <attribute name="type" type="string" default="text"/>
          <attribute name="name" type="string"/>
          <attribute name="value" type="string"/>
          <attribute name="checked" type="string"/>
          <attribute name="disabled" type="string"/>
          <attribute name="readonly" type="string"/>
          <attribute name="size" type="string"/>
          <attribute name="maxlength" type="integer"/>
          <attribute name="src" type="anyURI"/>
          <attribute name="alt" type="string"/>
          <attribute name="usemap" type="string"/>
          <attribute name="ismap" type="string"/>
          <attribute name="onselect" type="string"/>
          <attribute name="onchange" type="string"/>
          <attribute name="accept" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="ins" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="cite" type="anyURI"/>
          <attribute name="datetime" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="isindex" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:coreattrs"/>
          <attributeGroup ref="html:i18n"/>
          <attribute name="prompt" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="kbd" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="label" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="for" type="IDREF"/>
          <attribute name="accesskey" type="string"/>
          <attribute name="onfocus" type="string"/>
          <attribute name="onblur" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="legend" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="accesskey" type="string"/>
          <attribute name="align" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="li" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="type" type="string"/>
          <attribute name="value" type="integer"/>
          <attribute name="compact" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="link" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="charset" type="string"/>
          <attribute name="href" type="anyURI"/>
          <attribute name="hreflang" type="string"/>
          <attribute name="type" type="string"/>
          <attribute name="rel" type="string"/>
          <attribute name="rev" type="string"/>
          <attribute name="media" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="map" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="name" type="string"
                     use="required"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="meta" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:i18n"/>
          <attribute name="http-equiv" type="string"/>
          <attribute name="name" type="string"/>
          <attribute name="content" type="string" use="required"/>
          <attribute name="scheme" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="menu" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="compact" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="noframes" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="noscript" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="object" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="declare" type="string"/>
          <attribute name="classid" type="anyURI"/>
          <attribute name="codebase" type="anyURI"/>
          <attribute name="data" type="anyURI"/>
          <attribute name="type" type="string"/>
          <attribute name="codetype" type="string"/>
          <attribute name="archive" type="string"/>
          <attribute name="standby" type="string"/>
          <attribute name="height" type="string"/>
          <attribute name="width" type="string"/>
          <attribute name="usemap" type="anyURI"/>
          <attribute name="name" type="string"/>
          <attribute name="tabindex" type="integer"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="ol" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <sequence>
            <element ref="html:li" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attributeGroup ref="html:attrs"/>
          <attribute name="start" type="integer"/>
          <attribute name="compact" type="string"/>
          <attribute name="type" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="optgroup" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <sequence>
            <element ref="html:option" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attributeGroup ref="html:attrs"/>
          <attribute name="disabled" type="string"/>
          <attribute name="label" type="string" use="required"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="option" substitutionGroup="ui:uinode">
    <complexType mixed="true">
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="selected" type="string"/>
          <attribute name="disabled" type="string"/>
          <attribute name="label" type="string"/>
          <attribute name="value" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="p" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="param" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <attribute name="id" type="ID"/>
          <attribute name="name" type="string" use="required"/>
          <attribute name="value" type="string"/>
          <attribute name="valuetype" type="string"/>
          <attribute name="type" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="pre" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>



  <element name="q" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attribute name="cite" type="anyURI"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="s" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="samp" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="script" substitutionGroup="ui:uinode">
    <complexType mixed="true">
      <complexContent>
        <extension base="ui:uinodeType">
          <attribute name="charset" type="string"/>
          <attribute name="type" type="string" use="required"/>
          <attribute name="src" type="anyURI"/>
          <attribute name="defer" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="select" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <choice>
            <element ref="html:option" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="html:optgroup" minOccurs="0" maxOccurs="unbounded"/>
          </choice>
          <attributeGroup ref="html:attrs"/>
          <attribute name="name" type="string"/>
          <attribute name="size" type="integer"/>
          <attribute name="multiple" type="string"/>
          <attribute name="disabled" type="string"/>
          <attribute name="tabindex" type="integer"/>
          <attribute name="onfocus" type="string"/>
          <attribute name="onblur" type="string"/>
          <attribute name="onchange" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>



  <element name="small" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="span" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="strike" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="strong" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="style" substitutionGroup="ui:uinode">
    <complexType mixed="true">
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:i18n"/>
          <attribute name="type" type="string" use="required"/>
          <attribute name="media" type="string"/>
          <attribute name="title" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="sub" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="sup" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="table" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <choice minOccurs="0" maxOccurs="unbounded">
            <element ref="html:caption" />
            <element ref="html:col" />
            <element ref="html:colgroup"/>
            <element ref="html:thead" />
            <element ref="html:tr" />
            <element ref="html:tfoot" />
            <element ref="html:tbody" />
          </choice>
          <attributeGroup ref="html:attrs"/>
          <attribute name="summary" type="string"/>
          <attribute name="align" type="string"/>
          <attribute name="width" type="string"/>
          <attribute name="frame" type="string"/>
          <attribute name="rules" type="integer"/>
          <attribute name="cellspacing" type="string"/>
          <attribute name="cellpadding" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="tbody" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <sequence>
            <element ref="html:tr" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:cellhalign"/>
          <attributeGroup ref="html:cellvalign"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="td" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:cellhalign"/>
          <attributeGroup ref="html:cellvalign"/>
          <attribute name="abbr" type="string"/>
          <attribute name="axis" type="string"/>
          <attribute name="headers" type="IDREFS"/>
          <attribute name="scope" type="string"/>
          <attribute name="rowspan" type="positiveInteger"/>
          <attribute name="colspan" type="positiveInteger"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="th" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:cellhalign"/>
          <attributeGroup ref="html:cellvalign"/>
          <attribute name="abbr" type="string"/>
          <attribute name="axis" type="string"/>
          <attribute name="headers" type="IDREFS"/>
          <attribute name="scope" type="string"/>
          <attribute name="rowspan" type="positiveInteger"/>
          <attribute name="colspan" type="positiveInteger"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="textarea" substitutionGroup="ui:uinode">
    <complexType mixed="true">
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:focus"/>
          <attribute name="name" type="string"/>
          <attribute name="rows" type="positiveInteger"
                     use="required"/>
          <attribute name="cols" type="positiveInteger"
                     use="required"/>
          <attribute name="disabled" type="string"/>
          <attribute name="readonly" type="string"/>
          <attribute name="onselect" type="string"/>
          <attribute name="onchange" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="tfoot" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <sequence>
            <element ref="html:tr" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:cellhalign"/>
          <attributeGroup ref="html:cellvalign"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="thead" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <sequence>
            <element ref="html:tr" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:cellhalign"/>
          <attributeGroup ref="html:cellvalign"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="title" substitutionGroup="ui:uinode">
    <complexType mixed="true">
      <complexContent>
        <extension base="ui:uinodeType">
          <attributeGroup ref="html:i18n"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="tr" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <choice>
            <element ref="html:th" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="html:td" minOccurs="0" maxOccurs="unbounded"/>
          </choice>
          <attributeGroup ref="html:attrs"/>
          <attributeGroup ref="html:cellhalign"/>
          <attributeGroup ref="html:cellvalign"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="tt" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="u" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="ul" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="ui:uinodeType">
          <sequence>
            <element ref="html:li" minOccurs="0" maxOccurs="unbounded"/>
          </sequence>
          <attributeGroup ref="html:attrs"/>
          <attribute name="compact" type="string"/>
          <attribute name="type" type="string"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <element name="var" substitutionGroup="ui:uinode">
    <complexType>
      <complexContent>
        <extension base="html:nonEmptyHTMLType">
          <attributeGroup ref="html:attrs"/>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <complexType name="nonEmptyHTMLType" mixed="true">
    <complexContent>
      <extension base="ui:uinodeType">
        <sequence>
          <element ref="ui:uinode" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <attributeGroup name="coreattrs">
    <attribute name="id" type="ID"/>
    <attribute name="class" type="string"/>
    <attribute name="style" type="string"/>
    <attribute name="title" type="string"/>
  </attributeGroup>

  <attributeGroup name="i18n">
    <attribute name="lang" type="string"/>
    <attribute name="dir" type="string"/>
  </attributeGroup>

  <attributeGroup name="events">
    <attribute name="onclick" type="string"/>
    <attribute name="ondblclick" type="string"/>
    <attribute name="onmousedown" type="string"/>
    <attribute name="onmouseup" type="string"/>
    <attribute name="onmouseover" type="string"/>
    <attribute name="onmousemove" type="string"/>
    <attribute name="onmouseout" type="string"/>
    <attribute name="onkeypress" type="string"/>
    <attribute name="onkeydown" type="string"/>
    <attribute name="onkeyup" type="string"/>
  </attributeGroup>

  <attributeGroup name="focus">
    <attribute name="tabindex" type="integer"/>
    <attribute name="accesskey" type="string"/>
    <attribute name="onfocus" type="string"/>
    <attribute name="onblur" type="string"/>
  </attributeGroup>

  <attributeGroup name="cellhalign">
    <attribute name="align" type="string"/>
    <attribute name="char" type="string"/>
    <attribute name="charoff" type="string"/>
  </attributeGroup>

  <attributeGroup name="cellvalign">
    <attribute name="valign" type="string"/>
  </attributeGroup>

  <attributeGroup name="attrs">
    <attributeGroup ref="html:coreattrs"/>
    <attributeGroup ref="html:i18n"/>
    <attributeGroup ref="html:events"/>
  </attributeGroup>


</schema>

