external/modules/relaxngcc/sample/structure/structure.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:c="http://www.xml.gr.jp/xmlns/relaxngcc">
<c:java-import>
</c:java-import>
<c:java-body>
private void echo(String s) { System.err.println(s); System.err.flush(); }
</c:java-body>
<start c:class="Test">
  <element name="root">
    <oneOrMore>
      <element name="test-optional" >
        <ref name="optional"/>
      </element>
    </oneOrMore>
    <element name="test-oneormore"><ref name="oneormore"/></element>
    <element name="test-zeroormore"><ref name="zeroormore"/></element>
    <element name="test-group"><ref name="group"/></element>
    <element name="test-choice"><ref name="choice"/></element>
    <element name="test-interleave"><ref name="interleave"/></element>
  </element>
</start>

<define name="optional">
  echo("optional-start");
  <optional>
    echo("optional-1");
    <element name="foo"><text/></element>
    echo("optional-2");
  </optional>
  echo("optional-end");
</define>

<define name="oneormore">
  echo("oneormore-start");
  <oneOrMore>
    echo("oneormore-1");
    <element name="foo"><text/></element>
    echo("oneormore-2");
  </oneOrMore>
  echo("oneormore-end");
</define>

<define name="zeroormore">
  echo("zeroormore-start");
  <zeroOrMore>
    echo("zeroormore-1");
    <element name="foo"><text/></element>
    echo("zeroormore-2");
  </zeroOrMore>
  echo("zeroormore-end");
</define>

<define name="group">
  echo("group-start");
  <group>
    echo("group-1");
    <element name="foo"><text/></element>
    echo("group-2");
    <element name="foo"><text/></element>
    echo("group-3");
  </group>
  echo("group-end");
</define>

<define name="choice">
  echo("choice-start");
  <choice>
    echo("choice-1");
    <element name="foo1"><text/></element>
    echo("choice-2");
    <element name="foo2"><text/></element>
    echo("choice-3");
  </choice>
  echo("choice-end");
</define>

<define name="interleave">
  echo("interleave-start");
  <interleave>
    echo("interleave-1");
    <element name="foo1"><text/></element>
    echo("interleave-2");
    <element name="foo2"><text/></element>
    echo("interleave-3");
  </interleave>
  echo("interleave-end");
</define>

</grammar>