external/modules/relaxngcc/testCases/ambigChoice.rng

<?xml version='1.0' encoding='UTF-8' ?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
	xmlns:c="http://www.xml.gr.jp/xmlns/relaxngcc">
	<start>
		<element name="a">
			<choice>
				<ref name="x"/>
				<ref name="y"/>
			</choice>
		</element>
	</start>
	<define name="x">
		<element name="x">
			<empty/>
		</element>
	</define>
	<define name="y">
		<element name="y">
			<empty/>
		</element>
	</define>
</grammar>
