external/modules/relaxngcc/testCases/features.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:c="http://www.xml.gr.jp/xmlns/relaxngcc">
<c:java-import>
</c:java-import>
<c:java-body>
private void echo(String s) { System.out.println(s); }
</c:java-body>
<start c:class="Start" c:access="public final">
  <c:java-import>
  /* import Start only */
  </c:java-import>
  <c:java-body>
  /* body Start only */
  </c:java-body>
  <element name="root">
    <ref name="expand"/>
    echo("expand ok");
    <ref name="block"/>
    echo("block1 ok");
    <ref name="block" c:alias="b"/>
    echo("block2 ok");
    <ref name="datatypetest"/>
  </element>
</start>

<define name="expand" c:inline="true">
  <element name="e1"><empty/></element>
</define>

<define name="block" c:access="public final">
  <element name="b1"><empty/></element>
</define>

<define name="datatypetest">
  <element name="int"><data type="integer" c:alias="dt_int"/></element>
  <element name="bool"><data type="boolean" c:alias="dt_bool"/></element>
  <element name="double"><data type="double" c:alias="dt_double"/></element>
  <element name="dateTime"><data type="dateTime" c:alias="dt_datetime"/></element>
  <element name="base64"><data type="base64Binary" c:alias="dt_base64"/></element>
  <element name="id"><data type="ID" c:alias="dt_id"/></element>
  <element name="mix">
    <choice>
      <data type="base64Binary" c:alias="dt_choice_base64"/>
      <data type="short" c:alias="dt_choice_short"/>
      <data type="date" c:alias="dt_choice_date"/>
    </choice>
  </element>
  <c:java><![CDATA[
    echo("length="+dt_base64.length);
    for(int i=0; i<dt_base64.length; i++)
      echo(Byte.toString(dt_base64[i]));
  ]]></c:java>
</define>

</grammar>