external/modules/relaxngcc/testCases/tutorial1.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         xmlns:c="http://www.xml.gr.jp/xmlns/relaxngcc">
  <start c:class="sample1">
    System.out.println("a1");
    <element name="team">
      System.out.println("a2");
      <oneOrMore>
        <element name="player">
          <attribute name="number">
            <data type="positiveInteger" c:alias="number"/>
            <c:java>System.out.println(number);</c:java>
          </attribute>
          <element name="name">
            <text c:alias="name"/>
            <c:java>System.out.println(name);</c:java>
          </element>
        </element>
      </oneOrMore>
      System.out.println("a3");
    </element>
    System.out.println("a4");
  </start>
</grammar>