external/modules/relaxngcc/testCases/zeroOrMore3.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar
	xmlns:cc="http://www.xml.gr.jp/xmlns/relaxngcc"
	xmlns="http://relaxng.org/ns/structure/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
	>
	
	<!--
		action 1 must be executed once and only once, but there
		is (was) a bug that causes action 1 to be executed many times.
		
		This bug was because Transitions are shared by multiple states.
		Therefore, adding action 1 to a transition results in adding
		it to other unrelated transitions, which is an undesirable
		side effect.
	-->
	<start>
		<element name="foo">
			<choice>
				<element name="head1"><empty/></element>
				<element name="head2"><empty/></element>
			</choice>
			<cc:java>
				System.out.println("action 1");
			</cc:java>
			<zeroOrMore>
				<element name="bar"><empty/></element>
				<cc:java>
					System.out.println("action 0");
				</cc:java>
			</zeroOrMore>
		</element>
	</start>
	
</grammar>