external/modules/relaxngcc/testCases/interleave/deep/deep.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
	<start>
		System.out.println("begin all");
		<ref name="body"/>
		System.out.println("end all");
	</start>
	
	<define name="body">
		<element name="root">
			System.out.println("start root");
			<interleave>
				<group>
					System.out.println("start branch1");
					<zeroOrMore>
						System.out.println(" start abc");
						<element name="abc"><empty/></element>
						System.out.println(" end abc");
					</zeroOrMore>
					System.out.println("end branch1");
				</group>
				<group>
					System.out.println("start branch2");
					<zeroOrMore>
						System.out.println(" start def");
						<element name="def">
							<element name="abc"><!-- note that tag name collides -->
								<element name="xyz">
									System.out.println(" inside xyz");
									<empty/>
								</element>
							</element>
						</element>
						System.out.println(" end def");
					</zeroOrMore>
					System.out.println("end branch2");
				</group>
			</interleave>
			System.out.println("end root");
		</element>
	</define>
</grammar>
