external/modules/trinidad/2.0.2-glassfish-1/trinidad-impl/src/main/resources/org/apache/myfaces/trinidadinternal/menu/xml/schemas/base.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:trmenu="http://myfaces.apache.org/trinidad/menu"
            targetNamespace="http://myfaces.apache.org/trinidad/menu"
            elementFormDefault="qualified">

<!-- Additional types for Trinidad commandNavigationItems -->
  <xsd:simpleType name="char">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="elExpression">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="#\{.+\}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="stringOrElExpression">
    <xsd:union memberTypes="xsd:string trmenu:elExpression"/>
  </xsd:simpleType>

  <xsd:simpleType name="charOrElExpression">
    <xsd:union memberTypes="trmenu:char trmenu:elExpression"/>
  </xsd:simpleType>

  <xsd:simpleType name="booleanOrElExpression">
    <xsd:union memberTypes="xsd:boolean trmenu:elExpression"/>
  </xsd:simpleType>

  <xsd:simpleType name="intOrElExpression">
    <xsd:union memberTypes="xsd:int trmenu:elExpression"/>
  </xsd:simpleType>
<!-- end custom types -->

 <xsd:element name="base" type="trmenu:baseType">
    <xsd:annotation>
      <xsd:documentation>
        Base node for all trmenu elements
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="baseType"/>
</xsd:schema>
