external/modules/trinidad/2.0.2-glassfish-1/trinidad-impl/src/main/resources/org/apache/myfaces/trinidadinternal/menu/xml/schemas/groupNode.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:trmenu="http://myfaces.apache.org/trinidad/menu"
            targetNamespace="http://myfaces.apache.org/trinidad/menu"
            elementFormDefault="qualified">
  <xsd:include schemaLocation="menuNode.xsd"/>
  <xsd:element name="groupNode" type="trmenu:groupNodeType"
               substitutionGroup="trmenu:menuNode">
    <xsd:annotation>
      <xsd:documentation>
        A menu node that refers to another node, typically a child node,
        to perform its menu navigation. The referenced node may also be a group
        node that refers to another node, etc.  The final node must be an action
        node that performs the action and menu occurs as a result.
        Has an id reference and a label.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="groupNodeType">
    <xsd:complexContent>
      <xsd:extension base="trmenu:menuNodeType">
        <xsd:attribute name="idref" use="required" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
