external/modules/relaxngcc/testCases/interleave/spawn/spawn.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
	<start>
		System.out.println("start root1");
		<element name="root">
			System.out.println("start root2");
			<interleave>
				<group>
					System.out.println("spawn block1");
					<ref name="block1"/>
					System.out.println("back block1");
				</group>
				<group>
					System.out.println("spawn block2");
					<ref name="block2"/>
					System.out.println("back block2");
				</group>
			</interleave>
			System.out.println("end root1");
		</element>
		System.out.println("end root2");
	</start>
	
	<define name="block1">
		System.out.println("start block1");
		
		<element name="abc">
			System.out.println("start abc");
			<empty/>
			System.out.println("end abc1");
		</element>
		System.out.println("end abc2");
		
		<element name="def">
			System.out.println("start def");
			<empty/>
			System.out.println("end def");
		</element>
		
		System.out.println("end block1");
	</define>
	
	<define name="block2">
		System.out.println("start block2");
		
		<element name="uvw">
			System.out.println("start uvw");
			<empty/>
			System.out.println("end uvw1");
		</element>
		System.out.println("end uvw2");
		
		<element name="xyz">
			System.out.println("start xyz");
			<empty/>
			System.out.println("end xyz");
		</element>
		
		System.out.println("end block2");
	</define>
</grammar>
