external/modules/relaxngcc/sample/tutorial1/tutorial1.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:c="http://www.xml.gr.jp/xmlns/relaxngcc">
<start c:class="sample1">

<element name="team">
  <oneOrMore>
    <element name="player">
      <attribute name="number">
        <data type="positiveInteger" c:alias="number"/>
        <c:java>System.out.println(number);</c:java>
      </attribute>
      <element name="name">
        <text c:alias="name"/>
        <c:java>System.out.println(name);</c:java>
      </element>
    </element>
  </oneOrMore>
</element>

</start>

</grammar>